:root {
    --golden: #c59d5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.menu-title {
    margin-top: 3rem;
    text-align: center;
}

.menu-title span {
    font-size: 2rem;
    font-weight: 700;
    width: 10%;
    color: #182433;
    border-bottom: 5px solid var(--golden);
}

.categories ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.categories ul li {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid var(--golden);
    border-radius: 5px;
    color: var(--golden)
}

.categories ul li:hover {
    background-color: var(--golden);
    color: white;
}

.menu-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.menu-item-image {
    display: flex;
    flex: 1;
    width: 200px;
    height: 160px;
    border: 3px solid var(--golden);
    border-radius: 5px;
}

.menu-item-image img {
    width: 100%;
    height: 100%;
}

.menu-item-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-item-info .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #182433;
}

.menu-item-info .title {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-item-info .price {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--golden);
    word-spacing: 2px;
}

.menu-item-info .description {
    font-size: 0.9rem;
    height: 100px;
    overflow-x: auto;
}